{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des annonces{% endblock %}

	{% block body %}


		<div class="container">

			<h1>Gestion des annonces</h1>

			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">id</th>
						<th scope="col">Titre</th>
						<th scope="col">Auteur</th>
						<th scope="col">Réservations</th>
						<th scope="col">Note</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>

					{% for ad in ads  %}
						<tr>
							<th scope="row">{{loop.index}}</th>
							<td>{{ad.id}}</td>
							<td>{{ad.title}}</td>
							<td>{{ad.author.firstName}} {{ad.author.lastName}}</td>
							<td>en attente</td>
							<td>en attente</td>
							<td>
								<a href="" class="btn btn-primary"><i class="far fa-edit"></i></a>
								<a href="" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
								
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>


			<div class="d-flex justify-content-center">
				<ul class="pagination">
					<li class="page-item {% if page == 1 %}disabled{% endif %}">
						<a class="page-link" href="{{path('admin_ads_index',{'page':page - 1})}}">&laquo;</a>
					</li>

					{% for i in 1..pages  %}
					<li class="page-item {% if page == i %}active{% endif %}">
						<a class="page-link" href="{{path('admin_ads_index',{'page':i})}}">{{i}}</a>
					</li>
				{% endfor %}
					
					<li class="page-item {% if page == pages %}disabled{% endif %}">
						<a class="page-link" href="{{path('admin_ads_index',{'page':page + 1})}}">&raquo;</a>
					</li>
				</ul>
			</div>


		</div>
	{% endblock %}
