{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}


	{% block body %}

		<div class="container mt-3" >
			<h1> le compte de {{user.firstName}} {{user.lastName}}</h1>

			<div class="row">
						<div class="col-3">
							<img src="{{user.picture}}">
						</div>

						<div class="col-9">
					{% if (user is same as(app.user)) %}
			<a href="{{path('account_profile')}}" class="btn btn-primary mt-3 mb-3">Modifier mon compte</a>
		 	<a href="{{path('account_password')}}" class="btn btn-primary mt-3 mb-3">Modifier le mot de passe</a>
		 			{% endif %}
							<br><span class="badge badge-primary">{{user.ads | length}} annonce(s)</span>
						</div>

			</div>
			<div class="row">
						{{user.description}}
			</div>

			<h2>Toutes les annonces de {{user.firstName}} {{user.lastName}}</h2>

			<div class="row">

				{% if (user.ads | length) > 0 %}

				{% for ad in user.ads  %}
				<div class="col-4 mt-4">
					<div class="card text-center">
						<div class="card-header">
							{{ad.rooms}} chambres {{ad.price}}€/nuit<br>
							Pas encore noté
						</div>
						<div class="card-body">
							<img src="{{ad.coverImage}}" style="height:200px;display:block;width:100%"/>
							<h5 class="card-title mt-2">{{ad.title}}</h5>
							<p class="card-text">{{ad.introduction | striptags('<strong>') | raw}} </p>
								<a href="{{path('ads_show',{'slug':ad.slug})}}" class="btn btn-primary">En savoir plus</a>
							</div>
						</div>

					</div>
				{% endfor %}

			{% else %}
				<div class="row">
					<div class="alert alert-warning">Il n'y a pas d'annonces</div>
				</div>

			{% endif %}
			</div>

			</div>	


		{% endblock %}

